Source/DropNothingWhenSettling/packages
Source/DropNothingWhenSettling/obj
Source/DropNothingWhenSettling/bin
Source/DropNothingWhenSettling/DropNothingWhenSettling.sln.DotSettings.user
*/.idea
.idea
